
  <ul class="navbar-nav ml-auto">
    {{#if currentUser}}
      <li class="nav-item">
        <a href="/logout">Logout</a>
      </li>
      <li class="nav-item">
          <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
      </li>
      
    {{else}}
      <li class="nav-item">
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
    {{/if}}
  </ul>
